* {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign_up {
    display: flex;
    height: 91.5vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}


.services {
    font-size: 100px;
}

.products {
    font-size: 100px;
}


.sign_up {
    font-size: 100px;
}

